@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;

.details {
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.4rem 1.6rem;
    align-items: center;
    border-bottom: 0.1rem solid $secondary-alternative;

    @include tablet {
      border-bottom: 0.1rem solid $secondary-alternative;
    }
  }

  &__leftgroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 1rem;
  }
}

.details__bottom {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.6rem;

  @include tablet {
    flex-direction: row;

    padding: 0rem 3.2rem;
  }
}

.details {
  &__section--left,
  &__section--right {
    display: flex;
    flex-direction: row;
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
  }

  &__section--left {
    @include tablet {
      width: 30%;
    }

    @include desktop {
      width: 40%;
    }
  }

  &__section--right {
    @include tablet {
      width: 70%;
    }
    @include desktop {
      width: 60%;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-modified {
      @include tablet {
        border-left: 0.1rem solid $secondary-alternative;
        padding-left: 3rem;
      }
    }
  }

  &__button {
    &-back {
      background-image: url(../../asset/Icons/arrow_back-24px.svg);
      background-repeat: no-repeat;
      width: 2.4rem;
      height: 2.4rem;
      background-color: white;
      background-position: center;
      border: none;
    }

    &-edit {
      background-color: $primary-alternative;
      width: 3.6rem;
      height: 3.6rem;
      padding: 0.8rem;
      background-image: url("../../asset/Icons/edit-24px-white.svg");

      background-position: center;
      background-repeat: no-repeat;
      border: none;
      border-radius: 2rem;
    }
  }
}
