@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse{
    @include topDivider;
    padding: 1.6rem 2.4rem 2.4rem 2.4rem;

    &__summary-wrapper{
        display: flex;
    }

    &__left-data-wrapper{
        width: 50%;
    }

    &__right-data-wrapper{
        width: 50%;
    }

    &__table-btn-wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__data-wrapper{
        padding-bottom: 1.6rem;
    }

    &__nane-wrapper{
        display: flex;
    }

    &__name{
        color: $primary-alternative;
    }

    &__label{
        margin-bottom: 0.4rem;
    }

    &__btn{
        background: none;
        border: none;
    }
}

