@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.component {
    
    &__subtitle {
        margin: 1.6rem 0 2.4rem ;
        font-size: 2rem;
    }

    &__article {
        padding: 0 1.6rem 1rem 1.6rem;
        display: flex;
        flex-direction: column;
        border-top: 1px solid $secondary-alternative;
    }

    &__label {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0.4rem;
    }

    &__input {
        border: 1px solid $secondary-alternative;
        border-radius: 20px;
        height: 3.6rem;
        margin-bottom: 1.6rem;
        padding-left: 1.6rem;
        
        font-family: "TitilliumWeb";
        
    }


    &__button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.6rem;
        background-color: $background-light ;
        height: 6.8rem;

    }

    &__button {
        height: 3.6rem;
        width: 12rem;
        border-radius: 20px;
        
        &--cancel {
            font-family: "TitilliumWeb";
            font-size: 1.3rem;
            background-color: $primary-light;
            border: 1px solid $secondary-alternative;
        }

    }

}

