

.arrow-back {
    background-image: url("../../asset/Icons/arrow_back-24px.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    margin-top: 1rem;
    margin-right: 0.4rem;
}