@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.section-title-wrapper {
  padding: 3.2rem 2.4rem;
  display: flex;
  @include bottomDivider;

  @include tablet {
    padding: 3.2rem 3.2rem 2.1rem 3.2rem;
  }

  &__title {
    padding-left: 1.5rem;
  }
}