@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;

.item {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid $secondary-alternative;
  padding: 1rem 1.6rem;
  
&__box{
  display: flex;
  flex-direction: row;
  
}
  &__section {
    display: flex;
    flex-direction: column;
    width: 50%;
    
  }
  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.6rem 0rem;

    &-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200%;

        &--delete{

          background-image: url(../../asset/Icons/delete_outline-24px.svg);
          background-repeat: no-repeat;
          background-position: center;
          border: none;
          width: 2.4rem;
          height: 2.4rem;
          background-color: white;
        }

        &--edit{
          background-image: url(../../asset/Icons/edit-24px.svg);
          background-repeat: no-repeat;
          background-position: center;
          border: none;
          width: 2.4rem;
          height: 2.4rem;
          background-color: white;
        }
         
    }

   
  }

  &__status-green{
    background-color:$supporting-green;
    color: white;
    width: 4.5rem;
  }
  &__status-red{
    background-color:$supporting-red;
    color: white;
    width: 7rem;
  }
}
